@charset "UTF-8";
html{
	background: #f1f1f1;
}
body{
	display: flex;
	flex-direction: column;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	margin: 0;
	/* color:black; */
	/* margin: 0px 24px;
	max-width: 100%; */
	/* margin: 0; */
}

canvas{
	margin: 0 auto;
	background: blue;
	position: fixed;
  left: 50%;
	margin-left: -300px;
	top:50%;
	margin-top: -300px;
	z-index: -1;
}
h1{
	padding: 0;
	margin: 0;
	font-size: 1em;
}
p {
	padding: 0;
	margin: 0;
}
a{
	color: black;
}
a:hover{
	text-decoration: none;
}
footer {
	position: fixed;
	bottom: 32px;
}

header {
	padding-bottom: 32px;
}

.controls {
	position: absolute;
	margin: 12px;
	padding: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 6px;
	background: white;
	/* align-content: stretch; */
	justify-content: space-between;
}

.slider {
	/* background-color: green; */
	/* margin-right: 24px; */
	width: 100%;
	margin-bottom: 0px;
}


.slider p {
	margin: 4px 0 2px 0;
}

input {
	width: 100%;
}

.button {
	/* background-color: blue; */
	width: 100%;
	align-self: left;
}

button {
	padding: 8px 24px;
	width: 100%;
	background-color: #dfdfdf;
	font-size: 12px;
	margin: 8px 0 0 0	;
	border: 0;
	border-radius: 4px;
}

d
